{% extends "admin/change_form.html" %}

{% load i18n %}

{% block extrahead %}
{{ block.super }}

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{{ opts.app_label|capfirst|escape }}</a> &rsaquo;
     <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     <a href="../">{{ original|truncatewords:"18" }}</a> &rsaquo;
     {{ title }}
</div>
{% endblock %}

{% block content %}
    <div id="content-main">
        {# <!-- TODO: description and explanation --> #}
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <fieldset class="module aligned">
                    {{ form.as_p }}
                    {# <!-- TODO: styling of the form --> #}
                </fieldset>

            <div class="submit-row">
                <input type="submit" value="أنشئ" class="default" name="_save">
            </div>

            </div>
        </form>
    </div>
{% endblock %}
