{% extends "codes_base.html" %}

{% block title %}أدخِل ساعات جديدة{% endblock %}

{% block redeem_nav_class %}active{% endblock %}

{% block extrastyle %}
<style type="text/css">
    .centered {
        width: 60%;
        margin: auto;
    }

    .input-wide {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}

    {% for error in form.string.errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
    {% endfor %}

    <div class="text-center centered">

        <h1>أدخِل ساعات جديدة</h1>

        <p class="lead">أدخل الرمز الإلكتروني الذي حصلت عليه.</p>
        <form method="post">
            {% csrf_token %}

        <div class="form-group{% if form.string.errors %} has-error{% endif %}">
            {{ form.string }}
        </div>

        {% for field in eval_form %}

        <div class="form-group{% if field.errors %} has-error{% endif %}">
            <div class="row">
                <!-- we're not using bootstrap rtl; so columns go ltr -->
                <div class="col-md-2 col-md-offset-2">{{ field }}</div>

                <div class="col-md-6">{{ field.label }}</div>

                {% if field.errors %}
                <div class="col-md-2">
                     {% for error in field.errors %}
                        <div class="bg-danger">
                            {{ error }}
                        </div>
                     {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        {% endfor %}

        <div class="form-group">
            <input class="btn btn-success" type="submit" value="أدخِل"/>
        </div>

        </form>

    </div>
{% endblock %}